<picture>
  <source
    media="(min-width: 1024px)"
    srcset="
      https://www.revolut.com/_next/image-asset/w:2048/q:90/https%3A%2F%2Fassets.revolut.com%2Fwebsite%2Fassets%2Fretail%2Fhome-V4%2FHero.jpg%3Fauthuser%3D0
    "
  />
  <img
    class="hero-img"
    src="https://www.revolut.com/_next/image-asset/w:1080/q:90/https%3A%2F%2Fassets.revolut.com%2Fwebsite%2Fassets%2Fretail%2Fhome-V4%2FHero_Mobile.png%3Fauthuser%3D0"
    alt="hero section image"
  />
</picture>
<div class="container">
  <!-- Hero Section --------------------------------------------------------------------------------------------------------------->
  <!--  -->
  <section class="hero">
    <h1 class="hero-h1">One app, all things money</h1>
    <p>
      From easy money management, to travel perks and investments. Open your
      account in a flash
    </p>
    <button type="button" class="btn btn-primary">Get a free account</button>
  </section>
  <!-- End of Hero section -->

  <!-- Everday Essentials ------------------------------------------------------------------------------------------------------------>
  <!--  -->
  <section>
    <div class="section-description">
      <p class="text-body-secondary">Everyday Essentials</p>
      <h2>Send, spend and save smarter</h2>
      <p>
        Make day-to-day spending a breeze with all things money in one place
      </p>
    </div>
    <a class="card">
      <picture>
        <source
          media="(min-width: 768px)"
          srcset="
            https://www.revolut.com/_next/image-asset/w:2048/q:75/https%3A%2F%2Fassets.revolut.com%2Fwebsite%2Fassets%2Fretail%2Fhome-V4%2FPayments.jpg
          "
        />
        <img
          class="card-img"
          src="https://www.revolut.com/_next/image-asset/w:1080/q:75/https%3A%2F%2Fassets.revolut.com%2Fwebsite%2Fassets%2Fretail%2Fhome-V4%2FPayments-Mobile.jpg"
          alt=""
        />
      </picture>
      <div class="card-body card-img-overlay col-md-6">
        <h3 class="card-title">Pay and get paid, hassle-free</h3>
        <p class="card-text">
          Send and request money with a tap, split bills easily with anyone in
          200+ countries
        </p>
        <div class="card-text">
          <span>Explore easy payments</span>
        </div>
      </div>
    </a>
    <a class="card">
      <img
        class="card-img"
        src="https://www.revolut.com/_next/image-asset/w:1080/q:75/https%3A%2F%2Fassets.revolut.com%2Fpublished-assets-v3%2F42b580d1-9985-4a8f-bbf0-16359dec7ca2%2Fc956adab-bdaf-403d-9c78-8f5422940753.png"
        alt=""
      />
      <div class="card-body card-img-overlay">
        <h3 class="card-title">Earn up to 3% annual interest, paid daily.</h3>
        <p class="card-text">
          AER/Gross (variable) paid daily with Savings Vaults
        </p>
        <div class="card-text">
          <span>Explore easy payments</span>
        </div>
      </div>
    </a>
    <a class="card">
      <img
        class="card-img"
        src="https://www.revolut.com/_next/image-asset/w:1080/q:75/https%3A%2F%2Fassets.revolut.com%2Fwebsite%2Fassets%2Fretail%2Fhome-V4%2FRewards-Mobile.jpg"
        alt=""
      />
      <div class="card-body card-img-overlay">
        <h3 class="card-title">Get exclusive Rewards and save as you spend</h3>
        <div class="card-text">
          <span>Browse cashback & discounts</span>
        </div>
      </div>
    </a>
    <div class="card">
      <img
        class="card-img"
        src="https://www.revolut.com/_next/image-asset/w:1080/q:75/https%3A%2F%2Fassets.revolut.com%2Fwebsite%2Fassets%2Fretail%2Fhome-V4%2FCards-Mobile.jpg"
        alt=""
      />
      <div class="card-body card-img-overlay">
        <h3 class="card-title">Cards with style and substance</h3>
        <p>
          Our cards are more than just their good looks. Get instant payment
          notifications and manage card security in app. Start spending straight
          away with Google or Apple Pay
        </p>
        <div class="card-text">
          <span>Get a card</span>
        </div>
      </div>
    </div>
    <div class="card">
      <img
        class="card-img"
        src="https://www.revolut.com/_next/image-asset/w:1080/q:75/https%3A%2F%2Fassets.revolut.com%2Fwebsite%2Fassets%2Fretail%2Fhome-V4%2FOpenBanking-Mobile.jpg"
        alt=""
      />
      <div class="card-body card-img-overlay">
        <h3 class="card-title">All your accounts, all in one place</h3>
        <div class="card-text">
          <span>Discover Open Banking</span>
        </div>
      </div>
    </div>
    <div class="card">
      <img
        class="card-img"
        src="https://www.revolut.com/_next/image-asset/w:1080/q:75/https%3A%2F%2Fassets.revolut.com%2Fpublished-assets-v3%2F809f8b13-622e-44d9-8eba-d6aca2ec208f%2Faf75878a-f54c-4e91-b7f1-007eb0311244.png"
        alt=""
      />
      <div class="card-body card-img-overlay">
        <h3 class="card-title">No more unwanted subscriptions</h3>
        <div class="card-text">
          <span>Explore Subscriptions</span>
        </div>
      </div>
    </div>
  </section>
  <!-- End of Everyday essentials -->

  <!-- investments ----------------------------------------------------------------------------------------------------------->
  <!--  -->
  <!--  -->
  <section>
    <div class="section-description">
      <p class="text-body-secondary">Investments</p>
      <h2>Investments from just $1</h2>
      <p>
        Create your portfolio and start trading with just a few taps. Capital at
        risk
      </p>
    </div>
    <div class="card">
      <img
        src="	https://www.revolut.com/_next/image-asset/w:1080/q…2Fassets%2Fretail%2Fhome-V4%2FPayments-Mobile.jpg"
        alt=""
      />
      <div class="card-body card-img-overlay">
        <h3 class="card-title">Go from cash to crypto instantly</h3>
        <p class="card-text">
          Go from cash to crypto instantly Get secure crypto storage and
          realtime updates so you can supercharge your investments for less.
        </p>
        <p>Not Regulated. Value can go down. Tax may be payable</p>
        <div class="card-text">
          <span>Get started with Crypto</span>
        </div>
      </div>
    </div>
    <div class="card">
      <img
        src="	https://www.revolut.com/_next/image-asset/w:1080/q…8ad8c9%2F09f4dac1-61cb-4c39-b2e5-3943b4dbf001.png"
        alt=""
      />
      <div class="card-body card-img-overlay">
        <h3 class="card-title">Trade 1500+ global shares commission-free*</h3>
        <p class="card-text">* within your allowance. Other fees may apply</p>
        <p class="card-text">Capital at risk</p>
        <div class="card-text">
          <span>Explore Stock trading</span>
        </div>
      </div>
    </div>
    <div class="card">
      <img
        src="	https://www.revolut.com/_next/image-asset/w:1080/q…website%2Fassets%2Fretail%2Fhome-V4%2FRewards.jpg"
        alt=""
      />
      <div class="card-body card-img-overlay">
        <h3 class="card-title">Buy gold and silver instantly</h3>
        <p>Capital at risk, not FCA regulated</p>
        <div class="card-text">
          <span>Check out commodities</span>
        </div>
      </div>
    </div>
  </section>

  <!--  -->
  <!-- TRAVEL------------------------------------------------------------------------------------------------------------------------>
  <!--  -->
  <section>
    <div class="section-description">
      <p class="text-body-secondary">Travel</p>
      <h2>All your travel needs, sorted</h2>
      <p>
        Travel card? Check. Insurance? Covered. Hotels? Say no more. We're
        building you a connected trip
      </p>
    </div>
    <div class="card">
      <img
        src="	https://www.revolut.com/_next/image-asset/w:1080/q…2Fassets%2Fretail%2Fhome-V4%2FPayments-Mobile.jpg"
        alt=""
      />
      <div class="card-body">
        <h3 class="card-title">It pays to book with Stays</h3>
        <p class="card-text">
          Time to get away? Book amazing holiday accommodation all around the
          world and get up to 10% cashback (plan dependent)
        </p>
        <div class="card-text">
          <span>Discover Stays</span>
        </div>
      </div>
    </div>
    <div class="card">
      <img
        src="	https://www.revolut.com/_next/image-asset/w:1080/q…8ad8c9%2F09f4dac1-61cb-4c39-b2e5-3943b4dbf001.png"
        alt=""
      />
      <div class="card-body">
        <h3 class="card-title">Trade 1500+ global shares commission-free*</h3>
        <p class="card-text">* within your allowance. Other fees may apply</p>
        <p class="card-text">Capital at risk</p>
        <div class="card-text">
          <span>Explore Stock trading</span>
        </div>
      </div>
    </div>
    <div class="card">
      <img
        src="	https://www.revolut.com/_next/image-asset/w:1080/q…website%2Fassets%2Fretail%2Fhome-V4%2FRewards.jpg"
        alt=""
      />
      <div class="card-body">
        <h3 class="card-title">Buy gold and silver instantly</h3>
        <p>Capital at risk, not FCA regulated</p>
        <div class="card-text">
          <span>Check out commodities</span>
        </div>
      </div>
    </div>
  </section>
</div>
